.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-control-prev .fa-chevron-left,
.carousel-control-next .fa-chevron-right {
    color: black;
}

.carousel-caption {
  color: black;
}
